In [29]:
s='a, ab, abc, abcd'

In [30]:
b=s.split(",")
t=[x.strip() for x in b]

In [31]:

t

['a', 'ab', 'abc', 'abcd']

In [32]:
import re

In [33]:
text="om namah\t shivay \tchant"

In [34]:
re.split("\s+",text)

['om', 'namah', 'shivay', 'chant']

In [35]:
regax=re.compile("\s+")

In [36]:
regax.split(text)

['om', 'namah', 'shivay', 'chant']

In [37]:
text1="""mahima mahima@iit.ac.in
mukesh mukesh@gmail.com
rajib rajib@gmail.com
"""

In [38]:
pattern=r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [39]:
regax1=re.compile(pattern,flags=re.IGNORECASE)

In [40]:
regax1.findall(text1)

['mahima@iit.ac.in', 'mukesh@gmail.com', 'rajib@gmail.com']

In [41]:
m1=regax1.search(text1)#return first

In [42]:
m1

In [43]:
text1[m1.start():m1.end()]#m1.start return index

'mahima@iit.ac.in'

In [44]:
# match-check start of stirng is or not return none if not

In [45]:
regax1.match(text1)

In [46]:
print(regax1.match(text1))

None

In [47]:
print(regax1.sub("fount",text1))#repalce all with found

mahima fount
mukesh fount
rajib fount

In [48]:
pattern2=r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [49]:
regex2=re.compile(pattern2,flags=re.IGNORECASE)

In [50]:
regex2.findall(text1)

[('mahima', 'iit.ac', 'in'),
 ('mukesh', 'gmail', 'com'),
 ('rajib', 'gmail', 'com')]

In [51]:
# sub method is used to print segregate component
# addtional functionality  of sub method is symbol component mapping 
# \1 is as first component \2 as second
print(regex2.sub(r'username:\1, domain:\2 ,suffixs:\3',text1))

mahima username:mahima, domain:iit.ac ,suffixs:in
mukesh username:mukesh, domain:gmail ,suffixs:com
rajib username:rajib, domain:gmail ,suffixs:com

In [52]:
text2="mahima@iit.ac.in"

In [53]:
m2=regex2.match(text2)
m2

In [54]:
# using group method of match object

In [63]:
m2.groups()

('mahima', 'iit.ac', 'in')

In [64]:
import numpy as np

In [84]:
dict2={"mukesh":"mukesh@gmail.com","rajib":"rajib@gmail.com","mahima":"mahima@iit.ac.in","komal":"k@gmail.com","lokesh":"mahimagupta84@gmail.com","santosh":np.nan}

In [86]:
dict2

{'mukesh': 'mukesh@gmail.com',
 'rajib': 'rajib@gmail.com',
 'mahima': 'mahima@iit.ac.in',
 'komal': 'k@gmail.com',
 'lokesh': 'mahimagupta84@gmail.com',
 'santosh': nan}

In [87]:
import pandas as pd

In [88]:
series3=pd.Series(dict2)
series3

mukesh            mukesh@gmail.com
rajib              rajib@gmail.com
mahima            mahima@iit.ac.in
komal                  k@gmail.com
lokesh     mahimagupta84@gmail.com
santosh                        NaN
dtype: object

In [89]:
series3.isnull()

mukesh     False
rajib      False
mahima     False
komal      False
lokesh     False
santosh     True
dtype: bool

In [90]:
# using str attribute of series object to call method related to string operation
# advantage-these method skip NAs ,while string and regular expression genrally fail
# check whether string is contain a gmail term or not
# using contain method
# return booleng array
series3.str.contains("gmail")

mukesh      True
rajib       True
mahima     False
komal       True
lokesh      True
santosh      NaN
dtype: object

In [91]:
pattern3= '([A_Z0-9._%+-]+)@([A_Z0-9.-]+)\\.([A_Z]{2,4})'

In [92]:
# regex2=re.compile(pattern3,flags=re.IGNORECASE)
# regex2.findall(text1)

[]

In [94]:
# using str findall ,finding all pattern occurance in series
series3.str.findall(pattern2,flags=re.IGNORECASE)

mukesh            [(mukesh, gmail, com)]
rajib              [(rajib, gmail, com)]
mahima            [(mahima, iit.ac, in)]
komal                  [(k, gmail, com)]
lokesh     [(mahimagupta84, gmail, com)]
santosh                              NaN
dtype: object

In [95]:
# accesing the elements of string
series3.str.get(0)

mukesh       m
rajib        r
mahima       m
komal        k
lokesh       m
santosh    NaN
dtype: object

In [97]:
fruit=["apple","banana","orange","apple"]*2
N=len(fruit)
df15=pd.DataFrame({'fruit':fruit,
                    'basket_id':np.arange(N),
                    'count':np.random.randint(3,15,size=N),
                    'weight':np.random.randint(0,4,size=N)},columns=['basket_id','fruit','count','weight'])
df15

   basket_id   fruit  count  weight
0          0   apple     10       2
1          1  banana     14       0
2          2  orange     12       3
3          3   apple      7       1
4          4   apple      3       1
5          5  banana      4       1
6          6  orange     14       0
7          7   apple      9       0

In [98]:
fruit_cat=df15['fruit'].astype('category')

In [99]:
fruit_cat

0     apple
1    banana
2    orange
3     apple
4     apple
5    banana
6    orange
7     apple
Name: fruit, dtype: category
Categories (3, object): ['apple', 'banana', 'orange']

In [100]:
# value of categorical object

In [101]:
cat1=fruit_cat.values
cat1

['apple', 'banana', 'orange', 'apple', 'apple', 'banana', 'orange', 'apple']
Categories (3, object): ['apple', 'banana', 'orange']

In [102]:
type(cat1)

pandas.core.arrays.categorical.Categorical

In [103]:
# attribute of catogorical object are categories and code

In [106]:
cat1.categories

Index(['apple', 'banana', 'orange'], dtype='object')

In [107]:
cat1.codes

array([0, 1, 2, 0, 0, 1, 2, 0], dtype=int8)

In [109]:
df15['fruit']=df15['fruit'].astype("category")

In [110]:
cat2=pd.Categorical(['young','ya','m','young','ya'])

In [111]:
cat2

['young', 'ya', 'm', 'young', 'ya']
Categories (3, object): ['m', 'ya', 'young']