# 02_02: Lists, Tuples, and the Slicing Syntax

In [1]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
nephews = ["Huey", "Dewey", "Louie"]

In [3]:
nephews

['Huey', 'Dewey', 'Louie']

In [4]:
len(nephews)

3

In [5]:
nephews[0]

'Huey'

In [6]:
nephews[2]

'Louie'

In [ ]:
nephews[3]

In [7]:
nephews[-1], nephews[-2]

('Louie', 'Dewey')

In [8]:
for i in range(3):
    nephews[i] = nephews[i] + ' Duck'

In [9]:
nephews

['Huey Duck', 'Dewey Duck', 'Louie Duck']

In [10]:
mix_it_up = [1, [2,3], 'alpha']

In [11]:
mix_it_up

[1, [2, 3], 'alpha']

In [12]:
nephews.append('April Duck')

In [13]:
nephews

['Huey Duck', 'Dewey Duck', 'Louie Duck', 'April Duck']

In [14]:
nephews.extend(['May Duck','June Duck'])

In [15]:
nephews

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck']

In [16]:
ducks = nephews + ['Donald Duck','Daisy Duck']

In [17]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [18]:
ducks.insert(0, 'Scrooge McDuck')

In [19]:
ducks

['Scrooge McDuck',
 'Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [20]:
del ducks[0]

In [21]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Donald Duck',
 'Daisy Duck']

In [22]:
ducks.remove('Donald Duck')

In [23]:
ducks

['Huey Duck',
 'Dewey Duck',
 'Louie Duck',
 'April Duck',
 'May Duck',
 'June Duck',
 'Daisy Duck']

In [24]:
ducks.sort()

In [25]:
ducks

['April Duck',
 'Daisy Duck',
 'Dewey Duck',
 'Huey Duck',
 'June Duck',
 'Louie Duck',
 'May Duck']

In [26]:
reverse_ducks = sorted(ducks, reverse=True)

In [27]:
reverse_ducks

['May Duck',
 'Louie Duck',
 'June Duck',
 'Huey Duck',
 'Dewey Duck',
 'Daisy Duck',
 'April Duck']

In [29]:
squares = [1,4,9,16,25,36,49]

In [ ]:
squares[0:2]

In [ ]:
squares[:4]

In [ ]:
squares[3:]

In [ ]:
squares[:]

In [ ]:
squares[0:7:2]

In [ ]:
squares[-3:-1]

In [30]:
squares[2:4] = ['four', 'nine']

In [31]:
squares

[1, 4, 'four', 'nine', 25, 36, 49]

In [32]:
del squares[4:6]

In [33]:
squares

[1, 4, 'four', 'nine', 49]

In [34]:
len([])

0

In [35]:
integers = ('one', 'two', 'three', 'four')

In [36]:
integers

('one', 'two', 'three', 'four')

In [37]:
integers[-1], integers[1:3]

('four', ('two', 'three'))

In [38]:
integers[0] = 1

TypeError: 'tuple' object does not support item assignment

In [42]:
p = (1, 2)

In [40]:
c, d = 3, 4

In [ ]:
for i, duck in enumerate(p):
    print(i, duck)

enumerate is use for indexing

In [46]:
def three_args(a, b, c):
    print(a, b, c)

In [47]:
my_args = (1,2,3)

In [48]:
three_args(*my_args)

1 2 3